{% extends "base.html" %}

{% block content %}
<main>
    <div>
        <h1>My Lists</h1>
        <div>
            <p>
                <a href="{% url 'create_list' %}">Create a new list</a>
            </p>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Number of items</td>
            </thead>
            <tbody>
                {% for item in todo_list %}
                <tr>
                    <td><a href="% url 'todo_list_detail' item.id %">{{ item.name }}</a></td>
                    <td>{{ item.items.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </table>
    </div>
</main>
{% endblock content %}
